<div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
        <i routerLink="/" style="font-size: 40px; cursor: pointer;" class="fas fa-shipping-fast">&nbsp;</i>
        <strong routerLink="/" style="font-size: 30px; cursor: pointer;">Liprem</strong>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="search product">
        </div>
        <span class="fas fa-search search-icon"></span>
    </div>
    <button routerLink="cart" class="btn btn-primay">
        <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </button>
</div>